.wrapper_l{
    width: 1700px;
    margin: 0 auto;
}

.wrapper_s{
    width: 1150px;
    margin: 0 auto;
}

.common_btn{
    padding: 1rem 1.5rem;
    border-radius: 50px;

    display: inline-block;

    background-color: #195ec8;

    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}