.wrapper_l{
    width: 1800px;
    margin: 0 auto;
}

.wrapper_s{
    width: 1150px;
    margin: 0 auto;
}

.common_btn{
    padding: 1rem;
    border-radius: 50px;

    display: inline-block;

    background-color: aqua;

    text-transform: uppercase;

    cursor: pointer;
}